<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */



         </style>
  </head>

  <body>


  <div class="mail-main-div container mt-3">
    <div class="top-div ">
      <div class="top-divs">
        <a href="/home" class="home-link" > Maze
        </a>
      </div>

      <div class="top-divs">
        <a href="/members/sign_in" class="login-link">Log In
        </a>
      </div>
    </div>


    <div class="welcome-div">

      <p class="welcome-heading">Welcome</p>
    </div>

      <p class="welcome-div-user-name">We're happy to have you with us.  <%= Member.last.email %></p>
    <div class="welcome-note">
      <p class="welcome-div-user-name welcome-div-user-name1">Maze helps you connect and share with the people in your life.
      </p>
    <p class="welcome-div-user-name welcome-div-user-name1">Give people the power to build community and bring the world closer together</p>
    <p class="welcome-div-user-name welcome-div-user-name1">We're building new ways to help you explore your interests and connect with the people you care about.</p>
    </div>


    <img  class="mail-img-tag" src="https://about.fb.com/wp-content/uploads/2021/09/NRP-Building-the-Metaverse-Responsibly_Header.jpeg?w=1536">







    </div>

  <%= yield %>
  </body>
</html>
