<%= render "members/userlayout" %>

<div class="reports-main-div">
  <div class="reports-main-divs reports-main-divs1 ">
    <div class="reports-main-logo-div">
      <div class="reports-logo-div">
        <div class="reports-logo-colour-div">
          <img class="reports-logo-img-div" src="<%= asset_path("details logo.png") %>">
        </div>
      </div>
    </div>
    <div class="reports-details-div">
      <h6 class="reports-header-div reports-header-div1">All Users</h6>
      <p class="reports-para-div"> Posts, comments and likes count</p>
      <div class="reports-inputs-div">
        <div class="reports-inputs-exl-div"><input id="all_user_excel" name="filename" type="radio" name="excel">excel</div>
        <div class="reports-inputs-csv-div"> <input id="all_user_csv" name="filename" type="radio" name=".csv">.csv</div>


      </div>
      <button id="all_user_btn" class="reports-download-btn">Download</button>
    </div>
  </div>



  <div class="reports-main-divs reports-main-divs2 ">
    <div class="reports-main-logo-div">
      <div class="reports-logo-div">
        <div class="reports-logo-colour-div">
          <img class="reports-logo-img-div" src="<%= asset_path("details logo.png") %>">
        </div>
      </div>
    </div>
    <div class="reports-details-div">
      <h6 class="reports-header-div reports-header-div2">All Users</h6>
      <p class="reports-para-div">Having more than 10 posts.users</p>
      <div class="reports-inputs-div">
        <div class="reports-inputs-exl-div"><input id="sorted_user_excel" name="filename" type="radio" name="excel">excel</div>
        <div class="reports-inputs-csv-div"> <input id="sorted_user_csv" name="filename" type="radio" name=".csv">.csv</div>


      </div>
      <button id="sorted_user_btn" class="reports-download-btn">Download</button>
    </div>
  </div>



  <div class="reports-main-divs reports-main-divs3 ">
    <div class="reports-main-logo-div ">
      <div class="reports-logo-div">
        <div class="reports-logo-colour-div">
          <img class="reports-logo-img-div" src="<%= asset_path("details logo.png") %>">
        </div>
      </div>
    </div>
    <div class="reports-details-div">
      <h6 class="reports-header-div reports-header-div3">Postwise Report</h6>
      <p class="reports-para-div">Title/description, comments, likes</p>
      <div class="reports-inputs-div">
        <div class="reports-inputs-exl-div"><input id="postwise_user_excel" name="filename" type="radio" name="excel">excel</div>
        <div class="reports-inputs-csv-div"> <input id="postwise_user_csv" name="filename" type="radio" name=".csv">.csv</div>


      </div>
      <button id="postwise_user_btn" class="reports-download-btn">Download</button>
    </div>
  </div>

</div>





<script>
    let report_csv = document.getElementById('all_user_csv');
    let report_xls = document.getElementById('all_user_excel');

    let button = document.getElementById('all_user_btn');

    button.onclick = downloadFile;

    function downloadFile() {
        if(report_csv.checked) {
            window.open("/reports.csv");
        }else if(report_xls.checked) {
            window.open("/reports.xls");
        } else {
            alert("Please check one of the options first.");
        }
    }



    let sorted_csv = document.getElementById('sorted_user_csv');
    let sorted_xls = document.getElementById('sorted_user_excel');

    let sorted_button = document.getElementById('sorted_user_btn');

    sorted_button.onclick = sorted_downloadFile;

    function sorted_downloadFile() {
        if(sorted_csv.checked) {
            window.open("sorted_report.csv");
        }else if(sorted_xls.checked) {
            window.open("sorted_report.xls");
        } else {
            alert("Please check one of the options first.");
        }
    }


    let postwise_csv = document.getElementById('postwise_user_csv');
    let postwise_xls = document.getElementById('postwise_user_excel');

    let postwise_button = document.getElementById('postwise_user_btn');

    postwise_button.onclick = postwise_downloadFile;

    function postwise_downloadFile() {
        if(postwise_csv.checked) {
            window.open("postwise_report.csv");
        }else if(postwise_xls.checked) {
            window.open("postwise_report.xls");
        } else {
            alert("Please check one of the options first.");
        }
    }
</script>


